[defaults]
inventory = inventories/example/hosts.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default
host_key_checking = True

[privilege_escalation]
become = True
