# Gerado pelo Ansible. Não versione este arquivo.
RESTIC_REPOSITORY=s3:https://s3.{{ restic_b2_region }}.backblazeb2.com/{{ restic_bucket }}/{{ restic_bucket_prefix }}
RESTIC_PASSWORD={{ vault_restic_password }}
AWS_ACCESS_KEY_ID={{ vault_b2_key_id }}
AWS_SECRET_ACCESS_KEY={{ vault_b2_application_key }}
RESTIC_CACHE_DIR=/var/cache/restic
