# Gerado pelo Ansible. Não edite e não versione.
HERMES_HOME=/opt/data
OBSIDIAN_VAULT_PATH=/vault
HERMES_UID={{ hermes_uid }}
HERMES_GID={{ hermes_gid }}
{% for key, value in hermes_secret_env | dictsort %}
{{ key }}={{ value | to_json }}
{% endfor %}
